@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #31487D;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* set container width to 1170 + 15 padding from left and right */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}


.hero {
  background-color: #F3ECE4;
}

.btn {

  background: #52A6F8;

  transition: all 0.3s ease-in-out;

}

.btn:hover, .btn:focus {
  background: #3C8EE5;
  transform: scale(1.02);



}

.btn2 {
  transition: all 0.3s ease-in-out;
}

.btn2:hover, .btn2:focus {
  background: #F3ECE4;
}

.btn-bg-hero {
  /* bg darker color of F3ECE4 */
  background-color: #E8D9C9;

}

.section {
  padding: 5rem 0;
}

.features {
  background-color: #F8F8F9;
}

.selected {
  background-color: #F3ECE4;

}

.features_image {
  border: 2px linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
  /* box-shadow: 5px 5px 0 0 rgba(65, 117, 5, 1), 10px 10px 0 0 rgba(65, 117, 5, 0.6), 15px 15px 0 0 rgba(65, 117, 5, 0.4), 20px 20px 0 0 rgba(65, 117, 5, 0.2), 25px 25px 0 0 rgba(65, 117, 5, 0.1); */
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  box-shadow: white 0px 0px 0px 2px inset, white 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, white 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, white 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, white 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;

  

}

/* 
.features_image img {
  opacity: 1;
  animation: fadeIn .3s ease-in-out forwards;
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.features_items:hover, .features_items:focus {
  background-color: #F3ECE4;
}

.icon {
  background: linear-gradient(-15deg, #E8D9C9 50%, #F3ECE4 100%);
  color: black;
}

.active {
  background-color: #F3ECE4;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #E8D9C9;
    background-color: #31487D;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #31487D;
    background-color: black;
  }
  
} */

@media screen and (max-width: 768px) {

  .features_items {
      background-color: rgba(232, 217, 201, .2);
    }
  .features_image {
    box-shadow: none;
  }

  .category_list {
    /* disable overflow-x  */
    overflow-x: hidden;
  }

  .category-list::after {
    content: ">";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}
  

/* add inner shadow to the right side of categoory-list */
